click>=8.0                                    # https://github.com/pallets/click
# ---- Purposely unpinned ----
boto3>=1.17                                   # https://github.com/boto/boto3

# Packaging
# ------------------------------------------------------------------------------
bump2version==0.5.11                          # https://github.com/c4urself/bump2version
twine                                         # https://github.com/pypa/twine/
tox                                           # https://github.com/tox-dev/to
wheel                                         # https://github.com/pypa/wheel

# Development
# ------------------------------------------------------------------------------
autopep8                                      # https://github.com/hhatto/autopep8
doc8                                          # https://github.com/PyCQA/doc8
flake8                                        # https://github.com/PyCQA/flake8
pylint                                        # https://github.com/PyCQA/pylint
pycodestyle                                   # https://github.com/PyCQA/pycodestyle
mypy


# Other utils
# ------------------------------------------------------------------------------
ipython>=7.23.0                                # https://github.com/ipython/ipython

-r doc/requirements.txt
-e .